In [2]:
%pip install pandas
%pip install numpy
%pip install matplotlib
%pip install seaborn

Requirement already satisfied: pandas in g:\git projects\most-streamed-spotify-songs-2024-eda\myenv\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in g:\git projects\most-streamed-spotify-songs-2024-eda\myenv\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in g:\git projects\most-streamed-spotify-songs-2024-eda\myenv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in g:\git projects\most-streamed-spotify-songs-2024-eda\myenv\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in g:\git projects\most-streamed-spotify-songs-2024-eda\myenv\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in g:\git projects\most-streamed-spotify-songs-2024-eda\myenv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: numpy in g:\git projects\most-streamed-spotify-songs-2024-eda\myenv\lib\site-packages (2.1.3)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: matplotlib in g:\git projects\most-streamed-spotify-songs-2024-eda\myenv\lib\site-packages (3.9.2)Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: contourpy>=1.0.1 in g:\git projects\most-streamed-spotify-songs-2024-eda\myenv\lib\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in g:\git projects\most-streamed-spotify-songs-2024-eda\myenv\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in g:\git projects\most-streamed-spotify-songs-2024-eda\myenv\lib\site-packages (from matplotlib) (4.55.0)
Requirement already satisfied: kiwisolver>=1.3.1 in g:\git projects\most-streamed-spotify-songs-2024-eda\myenv\lib\site-packages (from matplotlib) (1.4.7)
Requirement already satisfied: numpy>=1.23 in g:\git projects\most-streamed-spotify-songs-2024-eda\myenv\lib\site-packages (from matplotlib) (2.1.3)
Requirement already satisfied: packaging>=20.0 in g:\git projects\most-streamed-spotify-songs-2024-eda\myenv\lib\site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in g:\git projects\most-streamed-spotify-songs-2024-eda\myenv\lib\site-packages (from matplotlib) (11.0.0)
Requirement already satisfied: pyparsing>=2.3.1 in g:\git projects\most-streamed-spotify-songs-2024-eda\myenv\lib\site-packages (from matplotlib) (3.2.0)
Requirement already satisfied: python-dateutil>=2.7 in g:\git projects\most-streamed-spotify-songs-2024-eda\myenv\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in g:\git projects\most-streamed-spotify-songs-2024-eda\myenv\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Requirement already satisfied: seaborn in g:\git projects\most-streamed-spotify-songs-2024-eda\myenv\lib\site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in g:\git projects\most-streamed-spotify-songs-2024-eda\myenv\lib\site-packages (from seaborn) (2.1.3)
Requirement already satisfied: pandas>=1.2 in g:\git projects\most-streamed-spotify-songs-2024-eda\myenv\lib\site-packages (from seaborn) (2.2.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in g:\git projects\most-streamed-spotify-songs-2024-eda\myenv\lib\site-packages (from seaborn) (3.9.2)
Requirement already satisfied: contourpy>=1.0.1 in g:\git projects\most-streamed-spotify-songs-2024-eda\myenv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.1)
Requirement already satisfied: cycler>=0.10 in g:\git projects\most-streamed-spotify-songs-2024-eda\myenv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in g:\git projects\most-streamed-spotify-songs-2024-eda\myenv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.55.0)
Requirement already satisfied: kiwisolver>=1.3.1 in g:\git projects\most-streamed-spotify-songs-2024-eda\myenv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.7)
Requirement already satisfied: packaging>=20.0 in g:\git projects\most-streamed-spotify-songs-2024-eda\myenv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.2)
Requirement already satisfied: pillow>=8 in g:\git projects\most-streamed-spotify-songs-2024-eda\myenv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.0.0)
Requirement already satisfied: pyparsing>=2.3.1 in g:\git projects\most-streamed-spotify-songs-2024-eda\myenv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.0)
Requirement already satisfied: python-dateutil>=2.7 in g:\git projects\most-streamed-spotify-songs-2024-eda\myenv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in g:\git projects\most-streamed-spotify-songs-2024-eda\myenv\lib\site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in g:\git projects\most-streamed-spotify-songs-2024-eda\myenv\lib\site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: six>=1.5 in g:\git projects\most-streamed-spotify-songs-2024-eda\myenv\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [5]:
df = pd.read_csv("Most Streamed Spotify Songs 2024.csv", encoding='latin1')

In [10]:
df.head()

,track,album_name,artist,release_date,isrc,all_time_rank,track_score,spotify_streams,spotify_playlist_count,spotify_playlist_reach,...,siriusxm_spins,deezer_playlist_count,deezer_playlist_reach,amazon_playlist_count,pandora_streams,pandora_track_stations,soundcloud_streams,shazam_counts,tidal_popularity,explicit_track
0,MILLION DOLLAR BABY,Million Dollar Baby - Single,Tommy Richman,4/26/2024,QM24S2402528,1,725.4,"390,470,936","30,716","196,631,588",...,684,62.0,"17,598,718",114.0,"18,004,655","22,931","4,818,457","2,669,262",NaN,0
1,Not Like Us,Not Like Us,Kendrick Lamar,5/4/2024,USUG12400910,2,545.9,"323,703,884","28,113","174,597,137",...,3,67.0,"10,422,430",111.0,"7,780,028","28,444","6,623,075","1,118,279",NaN,1
2,i like the way you kiss me,I like the way you kiss me,Artemas,3/19/2024,QZJ842400387,3,538.4,"601,309,283","54,331","211,607,669",...,536,136.0,"36,321,847",172.0,"5,022,621","5,639","7,208,651","5,285,340",NaN,0
3,Flowers,Flowers - Single,Miley Cyrus,1/12/2023,USSM12209777,4,444.9,"2,031,280,633","269,802","136,569,078",...,"2,182",264.0,"24,684,248",210.0,"190,260,277","203,384",NaN,"11,822,942",NaN,0
4,Houdini,Houdini,Eminem,5/31/2024,USUG12403398,5,423.3,"107,034,922","7,223","151,469,874",...,1,82.0,"17,660,624",105.0,"4,493,884","7,006","207,179","457,017",NaN,1

In [6]:
# Standardize column names: lowercase and replace spaces with underscores
df.columns = df.columns.str.lower().str.replace(' ', '_').str.strip()

# Print the updated column names
print(df.columns)

Index(['track', 'album_name', 'artist', 'release_date', 'isrc',
       'all_time_rank', 'track_score', 'spotify_streams',
       'spotify_playlist_count', 'spotify_playlist_reach',
       'spotify_popularity', 'youtube_views', 'youtube_likes', 'tiktok_posts',
       'tiktok_likes', 'tiktok_views', 'youtube_playlist_reach',
       'apple_music_playlist_count', 'airplay_spins', 'siriusxm_spins',
       'deezer_playlist_count', 'deezer_playlist_reach',
       'amazon_playlist_count', 'pandora_streams', 'pandora_track_stations',
       'soundcloud_streams', 'shazam_counts', 'tidal_popularity',
       'explicit_track'],
      dtype='object')

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 29 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   track                       4600 non-null   object
 1   album_name                  4600 non-null   object
 2   artist                      4595 non-null   object
 3   release_date                4600 non-null   object
 4   isrc                        4600 non-null   object
 5   all_time_rank               4600 non-null   int64
 6   track_score                 4600 non-null   float64
 7   spotify_streams             4487 non-null   float64
 8   spotify_playlist_count      4530 non-null   object
 9   spotify_playlist_reach      4528 non-null   object
 10  spotify_popularity          3796 non-null   float64
 11  youtube_views               4292 non-null   object
 12  youtube_likes               4285 non-null   object
 13  tiktok_posts                3427 non-null   object
 14  tiktok_likes                3620 non-null   object
 15  tiktok_views                3619 non-null   object
 16  youtube_playlist_reach      3591 non-null   object
 17  apple_music_playlist_count  4039 non-null   float64
 18  airplay_spins               4102 non-null   object
 19  siriusxm_spins              2477 non-null   object
 20  deezer_playlist_count       3679 non-null   float64
 21  deezer_playlist_reach       3672 non-null   object
 22  amazon_playlist_count       3545 non-null   float64
 23  pandora_streams             3494 non-null   object
 24  pandora_track_stations      3332 non-null   object
 25  soundcloud_streams          1267 non-null   object
 26  shazam_counts               4023 non-null   object
 27  tidal_popularity            0 non-null      float64
 28  explicit_track              4600 non-null   int64
dtypes: float64(7), int64(2), object(20)
memory usage: 1.0+ MB

In [8]:
df.describe()

,track_score,spotify_popularity,apple_music_playlist_count,deezer_playlist_count,amazon_playlist_count,tidal_popularity,explicit_track
count,4600.000000,3796.000000,4039.00000,3679.000000,3545.000000,0.0,4600.000000
mean,41.844043,63.501581,54.60312,32.310954,25.348942,NaN,0.358913
std,38.543766,16.186438,71.61227,54.274538,25.989826,NaN,0.479734
min,19.400000,1.000000,1.00000,1.000000,1.000000,NaN,0.000000
25%,23.300000,61.000000,10.00000,5.000000,8.000000,NaN,0.000000
50%,29.900000,67.000000,28.00000,15.000000,17.000000,NaN,0.000000
75%,44.425000,73.000000,70.00000,37.000000,34.000000,NaN,1.000000
max,725.400000,96.000000,859.00000,632.000000,210.000000,NaN,1.000000

In [9]:
df.isnull().sum()

track                            0
album_name                       0
artist                           5
release_date                     0
isrc                             0
all_time_rank                    0
track_score                      0
spotify_streams                113
spotify_playlist_count          70
spotify_playlist_reach          72
spotify_popularity             804
youtube_views                  308
youtube_likes                  315
tiktok_posts                  1173
tiktok_likes                   980
tiktok_views                   981
youtube_playlist_reach        1009
apple_music_playlist_count     561
airplay_spins                  498
siriusxm_spins                2123
deezer_playlist_count          921
deezer_playlist_reach          928
amazon_playlist_count         1055
pandora_streams               1106
pandora_track_stations        1268
soundcloud_streams            3333
shazam_counts                  577
tidal_popularity              4600
explicit_track                   0
dtype: int64

In [ ]:
#changing Dtype
df['all_time_rank'] = df['all_time_rank'].str.replace(',', '').astype('int64')
df['spotify_streams'] = df['spotify_streams'].astype(str).str.replace(',', '').astype('float64')

In [22]:
# List of columns to convert
columns_to_convert = [
    'spotify_playlist_count', 'spotify_playlist_reach', 'youtube_views', 'youtube_likes', 
    'tiktok_posts', 'tiktok_likes', 'tiktok_views', 'youtube_playlist_reach'
]

# Loop through each column and convert
for column in columns_to_convert:
    df[column] = pd.to_numeric(df[column].astype(str).str.replace(',', ''), errors='coerce')

# Check the results
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 29 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   track                       4600 non-null   object
 1   album_name                  4600 non-null   object
 2   artist                      4595 non-null   object
 3   release_date                4600 non-null   object
 4   isrc                        4600 non-null   object
 5   all_time_rank               4600 non-null   int64
 6   track_score                 4600 non-null   float64
 7   spotify_streams             4487 non-null   float64
 8   spotify_playlist_count      4530 non-null   float64
 9   spotify_playlist_reach      4528 non-null   float64
 10  spotify_popularity          3796 non-null   float64
 11  youtube_views               4292 non-null   float64
 12  youtube_likes               4285 non-null   float64
 13  tiktok_posts                3427 non-null   float64
 14  tiktok_likes                3620 non-null   float64
 15  tiktok_views                3619 non-null   float64
 16  youtube_playlist_reach      3591 non-null   float64
 17  apple_music_playlist_count  4039 non-null   float64
 18  airplay_spins               4102 non-null   object
 19  siriusxm_spins              2477 non-null   object
 20  deezer_playlist_count       3679 non-null   float64
 21  deezer_playlist_reach       3672 non-null   object
 22  amazon_playlist_count       3545 non-null   float64
 23  pandora_streams             3494 non-null   object
 24  pandora_track_stations      3332 non-null   object
 25  soundcloud_streams          1267 non-null   object
 26  shazam_counts               4023 non-null   object
 27  tidal_popularity            0 non-null      float64
 28  explicit_track              4600 non-null   int64
dtypes: float64(15), int64(2), object(12)
memory usage: 1.0+ MB

In [ ]:
#new and updated statical description
df.describe()

,all_time_rank,track_score,spotify_streams,spotify_playlist_count,spotify_playlist_reach,spotify_popularity,youtube_views,youtube_likes,tiktok_posts,tiktok_likes,tiktok_views,youtube_playlist_reach,apple_music_playlist_count,deezer_playlist_count,amazon_playlist_count,tidal_popularity,explicit_track
count,4600.000000,4600.000000,4.487000e+03,4530.000000,4.528000e+03,3796.000000,4.292000e+03,4.285000e+03,3.427000e+03,3.620000e+03,3.619000e+03,3.591000e+03,4039.00000,3679.000000,3545.000000,0.0,4600.000000
mean,2290.678043,41.844043,4.473873e+08,59390.829801,2.334682e+07,63.501581,4.027967e+08,2.930049e+06,9.443076e+05,1.126375e+08,1.161158e+09,3.439601e+08,54.60312,32.310954,25.348942,NaN,0.358913
std,1322.878312,38.543766,5.384439e+08,71131.406625,2.968717e+07,16.186438,7.019000e+08,4.593640e+06,2.442080e+06,5.498123e+08,5.881584e+09,6.704811e+08,71.61227,54.274538,25.989826,NaN,0.479734
min,1.000000,19.400000,1.071000e+03,1.000000,1.000000e+00,1.000000,9.130000e+02,2.500000e+01,1.000000e+00,3.000000e+00,1.900000e+01,1.000000e+00,1.00000,1.000000,1.000000,NaN,0.000000
25%,1144.750000,23.300000,7.038630e+07,6718.000000,4.791612e+06,61.000000,4.073032e+07,4.095490e+05,3.818650e+04,5.814876e+06,5.902786e+07,1.171869e+07,10.00000,5.000000,8.000000,NaN,0.000000
50%,2290.500000,29.900000,2.398507e+08,32312.500000,1.325948e+07,67.000000,1.482696e+08,1.257935e+06,1.822000e+05,2.653441e+07,2.659172e+08,9.814272e+07,28.00000,15.000000,17.000000,NaN,0.000000
75%,3436.250000,44.425000,6.283638e+08,86038.750000,2.966069e+07,73.000000,4.647882e+08,3.573193e+06,7.948775e+05,9.328418e+07,9.134169e+08,3.114059e+08,70.00000,37.000000,34.000000,NaN,1.000000
max,4998.000000,725.400000,4.281469e+09,590392.000000,2.623434e+08,96.000000,1.632276e+10,6.231118e+07,4.290000e+07,2.347422e+10,2.332323e+11,7.289707e+09,859.00000,632.000000,210.000000,NaN,1.000000